/*
* Start Team Style-1
-------------------------*/

.easy-cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to top right,#854BCC,#4C9FD0);
    color: #fff;
    padding: 50px;
}
h3.easy-cta-title {
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
    color: #ffffff;
}

p.easy-cta-desc {
    margin-bottom: 0;
}

a.easy-cta-link-text {
    display: inline-flex;
    align-items: center;
    color: #fff;
    padding: 15px 30px;
    background: #192a56;
    transition: all 0.4s ease 0s;
    position: relative;
    z-index: 1;
}

a.easy-cta-link-text:hover{
    color: #0C0C10;
}

a.easy-cta-link-text:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #ffffff;
    color: #0c0c0c;
    z-index: -1;
    transition: all 0.4s ease 0s;
}

a.easy-cta-link-text:hover:before {
    width: 100%;
}

.easy-desc {
    margin-right: 50px;
    width: 70%;
}

/*
* End Team Style-1
-------------------------*/

/*
* Start Team Style-2
-------------------------*/

.easy-cta.cta-style-2 {
    display: block;
}
.easy-cta.cta-style-2 .easy-desc {
    margin-right: 0;
    width: 100%;
    margin-bottom: 40px;
}
/*
* End Team Style-2
-------------------------*/

@media (max-width: 992px) {
    .easy-cta {
        display: block;
        justify-content: center;
        margin-top: 25px;
        text-align: center;
    }
    .easy-desc {
        margin-bottom: 25px;
        margin-right: 0;
        width: 100%;
    }
}