.easy-title {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}

span.easy-first-title {
    color: #e74c3c;
}

span.easy-last-title {
    color: #2ecc71;
}