.easy-pricing-table {
    position: relative;
    z-index: 1;
}

span.recommended-badge {
    position: absolute;
    top: 38px;
    left: -38px;
    display: inline-flex;
    transform: rotate(-90deg);
    font-size: 14px;
    background: #2c3e50;
    color: #fff;
    padding: 3px 5px;
    border-radius: 5px;
}

.pricing-table .pricing-content {
    text-align: left;
    padding: 0;
    margin: 0 0 30px;
    list-style: none;
    display: inline-block;
}

.pricing-table .pricing-content li {
    font-size: 18px;
    line-height: 35px;
    padding: 0 10px 0 28px;
    margin: 0 0 10px;
    position: relative;
}

.pricing-table .pricing-content li:last-child {
    margin: 0;
}


.pricing-table .pricing-content li.disable:before {
    display: none;
}

/*
* Start Pricing Card Style-01
--------------------------------*/
.easy-pricing-table-item.pricing-card-style-1 .pricing-table {
    color: #666;
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 0 0 30px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.easy-pricing-table-item.pricing-card-style-1 .pricing-table .pricing-table-header {
    padding: 25px 0 10px;
}

.easy-pricing-table-item.pricing-card-style-1 .pricing-table .title {
    color: #263C5C;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 25px;
}

.easy-pricing-table-item.pricing-card-style-1 .pricing-table .price-value {
    color: #fff;
    background: linear-gradient(to right, #B231EA, #7734EE);
    padding: 10px 40px 12px;
    margin: 0 0 15px;
    border-radius: 10px;
    display: inline-block;
}

.easy-pricing-table-item.pricing-card-style-1 .pricing-table .price-value .amount {
    font-size: 57px;
    font-weight: 600;
    line-height: 57px;
}


.easy-pricing-table-item.pricing-card-style-1 .pricing-table .price-table-signup a {
    color: #fff;
    background: linear-gradient(to right, #4A63A6, #2C3B6A);
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 8px 25px 10px;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.4s ease 0s;
}
.easy-pricing-table-item.pricing-card-style-1 .pricing-table .price-table-signup a:hover {
    color: #fff;
    background: linear-gradient(to right, #B231EA, #7734EE);
}

@media only screen and (max-width: 990px) {
    .easy-pricing-table-item.pricing-card-style-1 .pricing-table {
        margin: 0 0 40px;
    }
}
/*
* End Pricing Card Style-01
--------------------------------*/

/*
* Start Pricing Card Style-02
--------------------------------*/

.easy-pricing-table-item.pricing-card-style-2 .pricing-table{
    background: linear-gradient(to left bottom,#F87BA3,#FFCC68);
    font-family: 'Poppins', sans-serif;
    padding: 40px 0 35px;
    border-radius: 10px;
    box-shadow: 0 0 15px -2px rgba(0,0,0,0.2);
    text-align: center;
}
.easy-pricing-table-item.pricing-card-style-2 .pricing-table .pricing-table-header{
    color: #fff;
    text-align: left;
    padding: 0 0 0 35px;
    margin: 0 0 25px;
}
.easy-pricing-table-item.pricing-card-style-2 .pricing-table .title{
    color: #F87BA3;
    background-color: #fff;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 10px 10px 30px;
    margin: 0 0 25px;
    border-radius: 50px 0 0 50px;
}
.easy-pricing-table-item.pricing-card-style-2 .pricing-table .price-value{
    text-align: center;
    display: inline-block;
}
.easy-pricing-table-item.pricing-card-style-2 .pricing-table .price-value .currency{
    font-size: 23px;
    line-height: 23px;
    vertical-align: top;
    display: inline-block;
}
.easy-pricing-table-item.pricing-card-style-2 .pricing-table .price-value .amount{
    font-size: 75px;
    font-weight: 500;
    line-height: 58px;
    display: inline-block;
}
.easy-pricing-table-item.pricing-card-style-2 .pricing-table .duration{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    display: block;
}

.easy-pricing-table-item.pricing-card-style-2 .pricing-table .price-table-signup a{
    color: #FFCC68;
    background-color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding: 5px 18px;
    margin: 0 35px;
    border-radius: 50px;
    display: block;
    transition: all 0.3s;
}
.easy-pricing-table-item.pricing-card-style-2 .pricing-table .price-table-signup a:hover{
    color: #F87BA3;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

@media only screen and (max-width: 990px){
    .easy-pricing-table-item.pricing-card-style-2 .pricing-table{ margin: 0 0 40px; }
}

/*
* End Pricing Card Style-02
--------------------------------*/

/*
* Start Pricing Card Style-03
--------------------------------*/
.easy-pricing-table-item.pricing-card-style-3 .pricing-table{
    color: #555;
    background-color: #fff;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.easy-pricing-table-item.pricing-card-style-3 .pricing-table .pricing-table-header{
    color: #fff;
    background: linear-gradient(to top right,#854BCC,#4C9FD0);
    padding: 25px 20px 60px;
    margin: 0 0 10px;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
}
.easy-pricing-table-item.pricing-card-style-3 .pricing-table .title{
    color: rgba(255,255,255,0.8);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 15px;
}
.easy-pricing-table-item.pricing-card-style-3 .pricing-table .price-value .amount{
    font-size: 80px;
    font-weight: 600;
    line-height: 80px;
    display: block;
}
.easy-pricing-table-item.pricing-card-style-3 .pricing-table .price-value .duration{
    font-size: 19px;
    font-weight: 200;
    letter-spacing: 0.5px;
    display: block;
}

.easy-pricing-table-item.pricing-card-style-3 .pricing-table .price-table-signup{
    background: linear-gradient(to top right,#854BCC,#4C9FD0);
    padding: 10px 10px 9px;
}
.easy-pricing-table-item.pricing-card-style-3 .pricing-table .price-table-signup a{
    color: rgba(255,255,255,0.8);
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.easy-pricing-table-item.pricing-card-style-3 .pricing-table .price-table-signup a:hover{
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 990px){
    .easy-pricing-table-item.pricing-card-style-3 .pricing-table{ margin: 0 0 40px; }
}

/*
* End Pricing Card Style-03
--------------------------------*/