img {
    max-width: 100%;
    height: auto;
}

img, svg {
    vertical-align: middle;
}

small.team-position {
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

.team-img {
    position: relative;
    z-index: 1;
    height: 430px;
    overflow: hidden;
}

.team-img img {
    height: 100%;
}


/*
* Start Team Style-1
-------------------------*/

.team-wrapper.team-style-1 .our-team {
    text-align: center;
}

.team-wrapper.team-style-1 .our-team .team-img {
    position: relative;
    overflow: hidden;
}

.team-wrapper.team-style-1 .our-team .team-img:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(108, 99, 255, 0.75);
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: all 0.4s ease 0s;
}

.team-wrapper.team-style-1 .our-team:hover .team-img:after {
    bottom: 0;
}

.team-wrapper.team-style-1 .our-team img {
    width: 100%;
    height: auto;
}

.team-wrapper.team-style-1 .our-team .social-links {
    padding: 0 0 18px 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: -100%;
    right: 10px;
    background: #2a4284;
    border-radius: 0 0 20px 20px;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.team-wrapper.team-style-1 .our-team:hover .social-links {
    top: 0;
}

.team-wrapper.team-style-1 .our-team .social-links li a {
    padding: 15px;
    font-size: 15px;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease 0s;
}

.team-wrapper.team-style-1 .our-team:hover .social-links li a:hover {
    background: #1877F2;
    color: #ffffff;
}
.team-wrapper.team-style-1 .our-team .team-content {
    padding: 20px 0;
    background: #fff;
}

.team-wrapper.team-style-1 .our-team .title {
    font-size: 18px;
    font-weight: bold;
    color: #2a4284;
    text-transform: capitalize;
    margin: 0 0 20px;
    position: relative;
}

.team-wrapper.team-style-1 .our-team .title:before {
    content: "";
    width: 25px;
    height: 1px;
    background: #27ae61;
    position: absolute;
    bottom: -10px;
    right: 50%;
    margin-right: 9px;
    transition-duration: 0.25s;
}

.team-wrapper.team-style-1 .our-team .title:after {
    content: "";
    width: 25px;
    height: 1px;
    background: #27ae61;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: 9px;
    transition-duration: 0.25s;
}

.team-wrapper.team-style-1 .our-team:hover .title:before,
.team-wrapper.team-style-1 .our-team:hover .title:after {
    width: 50px;
}

.team-wrapper.team-style-1 .our-team .post {
    display: inline-block;
    font-size: 15px;
    color: #f76c5e;
    text-transform: capitalize;
}

.team-wrapper.team-style-1 .our-team .post:before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #27ae61;
    margin: 0 auto;
    position: relative;
    top: -13px;
}

@media only screen and (max-width: 990px) {
    .team-wrapper.team-style-1 .our-team {
        margin-bottom: 30px;
    }
}

/*
* End Team Style-1
-------------------------*/

/*
* Start Team Style-2
-------------------------*/
.team-wrapper.team-style-2 .our-team {
    text-align: center;
}

.team-wrapper.team-style-2 .team-img {
    position: relative;
    overflow: hidden;
}

.team-wrapper.team-style-2 .team-img img {
    width: 100%;
    height: auto;
}

.team-wrapper.team-style-2 .social_media_team {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(108, 99, 255, 0.75);
    transition: all 0.35s ease 0s;
}

.team-wrapper.team-style-2 .social-links {
    list-style: none;
    padding: 0;
    height: 100%;
    position: relative;
    top: 40%;
}

.team-wrapper.team-style-2 .social-links > li {
    display: inline-block;
    margin: 0 5px 5px 0;
}

.team-wrapper.team-style-2 .social-links > li > a {
    width: 40px;
    height: 40px;
    line-height: 45px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    transition: all 0.4s ease 0s;
    border-radius: 50%;
}

.team-wrapper.team-style-2 .social-links > li > a:hover {
    background: #1877F2;
    color: #ffffff;
    transition: all 1.3s ease 0s;
}

.team-wrapper.team-style-2 .team-prof {
    margin-top: 10px;
}

.team-wrapper.team-style-2 .team-name > a {
    text-transform: capitalize;
    color: #424242;
    transition: all 0.2s ease 0s;
}

.team-wrapper.team-style-2 .team-name > a:hover {
    text-decoration: none;
    color: #de4f00;
}

.team-wrapper.team-style-2 .post {
    color: #de4f00;
    font-size: 18px;
}

.team-wrapper.team-style-2 .team-img:hover .social_media_team {
    top: 0;
}

@media screen and (max-width: 990px) {
    .team-wrapper.team-style-2 .our-team {
        margin-bottom: 30px;
    }
}

/*
* End Team Style-2
-------------------------*/

/*
* Start Team Style-3
-------------------------*/
.team-wrapper.team-style-3 .our-team {
    position: relative;
    overflow: hidden;
}

.team-wrapper.team-style-3 .our-team .team-img {
    transform: scale(1, 1);
    transition: transform 0.30s ease;
    position: relative;
}

.team-wrapper.team-style-3 .our-team:hover .team-img {
    transform: scale(1.25, 1.25);
}

.team-wrapper.team-style-3 .our-team:after {
    position: absolute;
    content: '';
    background: #14306F;
    width: 100%;
    height: 0;
    bottom: -50%;
    left: 0;
    transition: all 0.3s ease 0s;
}

.team-wrapper.team-style-3 .our-team:hover:after {
    background: #14306F;
    height: 100%;
    bottom: 0;
    opacity: 0.6;
}

.team-wrapper.team-style-3 .our-team .team-img img {
    width: 100%;
    height: auto;
}

.team-wrapper.team-style-3 .our-team .team-content {
    position: absolute;
    bottom: -50%;
    background: #14306F;
    text-align: center;
    padding: 60px 25px 25px;
    transition: all 0.3s ease 0s;
    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
    width: 100%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
}

.team-wrapper.team-style-3 .our-team:hover .team-content {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

.team-wrapper.team-style-3 .our-team:hover .team-content {
    background: #14306F;
}

.team-wrapper.team-style-3 .our-team .team-name {
    margin: 0;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.team-wrapper.team-style-3 .our-team .team-name:after {
    content: "";
    width: 15%;
    display: block;
    margin: 10px auto;
    border-bottom: 2px solid #da3e65;
}

.team-wrapper.team-style-3 .our-team .team-name small {
    display: block;
    font-size: 11px;
    margin-top: 3%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.team-wrapper.team-style-3 .our-team .social-links {
    padding: 0;
    margin: 0 0 4% 0;
    position: absolute;
    bottom: -50%;
    text-align: center;
    transform: translate(-50%);
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    z-index: 15;
}

.team-wrapper.team-style-3 .our-team:hover .social-links {
    bottom: 50%;
    opacity: 1;
    visibility: visible;
}

.team-wrapper.team-style-3 .our-team .social-links li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

.team-wrapper.team-style-3 .our-team .social-links li a {
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #5d82d1;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease 0s;
}

.team-wrapper.team-style-3 .our-team .social-links li a:hover {
    background: #14306F;
    color: #fff;
}

.team-wrapper.team-style-3 .our-team .description {
    line-height: 23px;
    padding: 0 20px;
    position: absolute;
    transition: opacity 0.3s ease 0s;
}

/*
* End Team Style-3
-------------------------*/

/*
* Start Team Style-4
-------------------------*/
.team-wrapper.team-style-4 .our-team {
    text-align: center;
    overflow: hidden;
}

.team-wrapper.team-style-4 .our-team:before {
    content: "";
    border: 4px solid #083d77;
    opacity: 0;
    position: absolute;
    top: -7px;
    left: -7px;
    bottom: -7px;
    right: -7px;
    transform: scale(1.03);
    transition: all 0.6s ease 0s;
}

.team-wrapper.team-style-4 .our-team:hover:before {
    opacity: 1;
    transform: scale(1);
}

.team-wrapper.team-style-4 .our-team .team-img {
    position: relative;
}

.team-wrapper.team-style-4 .our-team .team-img:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.6s ease 0s;
}

.team-wrapper.team-style-4 .our-team:hover .team-img:before {
    opacity: 1;
}

.team-wrapper.team-style-4 .our-team img {
    width: 100%;
    height: 100%;
}

.team-wrapper.team-style-4 .our-team .team-content {
    padding: 30px 0 20px;
    position: absolute;
    bottom: 0;
    transition: all 0.6s ease 0s;
    width: 100%;
    z-index: 5;
}

.team-wrapper.team-style-4 .our-team:hover .team-content {
    top: 50%;
    transform: translateY(-50%);
}

.team-wrapper.team-style-4 .our-team .title {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 7px 0;
    transition: all 0.6s ease 0s;
}

.team-wrapper.team-style-4 .our-team:hover .team-name {
    color: #fff;
}

.team-wrapper.team-style-4 .our-team .post {
    display: block;
    font-size: 17px;
    font-weight: 500;
    color: #707070;
    text-transform: capitalize;
    transition: all 0.6s ease 0s;
}

.team-wrapper.team-style-4 .our-team:hover .post {
    color: #ffcc00;
}

.team-wrapper.team-style-4 .our-team .social-links {
    width: 100%;
    padding: 0;
    margin: 30px 0;
    list-style: none;
    position: relative;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: scale(0);
    transition: all 0.6s ease 0s;
}

.team-wrapper.team-style-4 .our-team:hover .social-links {
    opacity: 1;
    transform: scale(1);
}

.team-wrapper.team-style-4 .our-team .social-links li {
    display: inline-block;
}

.team-wrapper.team-style-4 .our-team .social-links li a {
    display: flex;
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: #083d77;
    border: 1px solid #083d77;
    position: relative;
    transition: all 0.4s ease 0s;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 5px;
}

.team-wrapper.team-style-4 .our-team .social-links li a:hover {
    background: #14306F;
    color: #fff;
}

.team-wrapper.team-style-4 h3.team-name {
    color: #121212;
    font-size: 26px;
    line-height: 28px;
    text-transform: capitalize;
}

.team-wrapper.team-style-4 h3.team-name span {
    display: block;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    margin-top: 10px;
}

@media only screen and (max-width: 990px) {
    .team-wrapper.team-style-4 .our-team {
        margin-bottom: 30px;
    }
}

/*
* End Team Style-4
-------------------------*/

/*
* Start Team Style-5
-------------------------*/
.team-wrapper.team-style-5 .our-team {
    border: 1px solid #d3d3d3;
    position: relative;
    overflow: hidden;
}

.team-wrapper.team-style-5 .our-team img {
    width: 100%;
    height: auto;
}

.team-wrapper.team-style-5 .our-team .team-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 45px 18px;
    background: rgba(0, 0, 0, 0.7);
    transform: translateX(-100%);
    transition: all 0.20s ease 0s;
}

.team-wrapper.team-style-5 .our-team:hover .team-content {
    transform: translateX(0);
}

.team-wrapper.team-style-5 .our-team .team-content .team-name {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.team-wrapper.team-style-5 .our-team p.team-member-desc {
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    margin-bottom: 20px;
}

.team-wrapper.team-style-5 .our-team .social-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.team-wrapper.team-style-5 .our-team .social-links li {
    display: inline-block;
    margin-right: 5px;
}

.team-wrapper.team-style-5 .our-team .social-links li a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    font-size: 18px;
    color: #f5f5f5;
    line-height: 40px;
    text-align: center;
    display: inline-flex;
    transition: all 0.4s ease 0s;
    justify-content: center;
    align-items: center;
}

.team-wrapper.team-style-5 .our-team .social-links li a:hover {
    border-color: transparent;
    background: #14306F;
    color: #fff;
}

.team-wrapper.team-style-5 .our-team .team-prof {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: right;
    padding: 20px 16px;
    background: rgba(0, 0, 0, 0.7);
    transform: translateX(0);
    transition: all 0.20s ease 0s;
}

.team-wrapper.team-style-5 .our-team:hover .team-prof {
    transform: translateX(100%);
}

.team-wrapper.team-style-5 .our-team .team-prof .team-name {
    font-size: 18px;
    color: #fff;
    margin: 0 0 8px 0;
    text-transform: uppercase;
}

.team-wrapper.team-style-5 .our-team .team-prof .post {
    font-size: 14px;
    color: #cb95e1;
    margin-bottom: 0;
}

@media only screen and (max-width: 990px) {
    .team-wrapper.team-style-5 .our-team {
        margin-bottom: 20px;
    }
}

/*
* End Team Style-5
-------------------------*/

