img, svg {
    vertical-align: middle;
}

/*
* Start Team Style-1
-------------------------*/
.team-wrapper.team-style-1 .our-team{
    text-align: center;
    overflow: hidden;
    position: relative;
}
.team-wrapper.team-style-1 .our-team img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease-in-out 0s;
}
.team-wrapper.team-style-1 .our-team:hover img{ transform: scale(1.2); }
.team-wrapper.team-style-1 .our-team .social{
    list-style: none;
    padding: 30px 15px;
    margin: 0;
    background: #0facf3;
    border-bottom-right-radius: 50px;
    position: absolute;
    top: 0;
    left: -50%;
    transition: all 0.4s ease-in-out 0s;
}
.team-wrapper.team-style-1 .our-team:hover .social{ left: 0; }
.team-wrapper.team-style-1 .our-team .social li{ display: block; }
.team-wrapper.team-style-1 .our-team .social li a{
    display: block;
    padding: 5px 0;
    font-size: 18px;
    color: #fff;
    transition: all 0.3s ease-in-out 0s;
}
.team-wrapper.team-style-1 .our-team .social li:first-child a{ padding-top: 0; }
.team-wrapper.team-style-1 .our-team .social li:last-child a{ padding-bottom: 0; }
.team-wrapper.team-style-1 .our-team .social li a:hover{ color: #000; }
.team-wrapper.team-style-1 .our-team .team-content{
    width: 100%;
    padding: 15px 10px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
}
.team-wrapper.team-style-1 .our-team .title{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    margin: 0 0 5px 0;
}
.team-wrapper.team-style-1 .our-team .post{
    display: block;
    font-size: 14px;
    color: #0facf3;
}
@media only screen and (max-width: 990px){
    .team-wrapper.team-style-1 .our-team{ margin-bottom: 30px; }
}
/*.team-wrapper.team-style-1 .our-team{*/
/*    text-align: center;*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*}*/
/*.team-wrapper.team-style-1  .our-team img{*/
/*    width: 100%;*/
/*    height: auto;*/
/*    transition: all 0.5s ease-in-out 0s;*/
/*}*/
/*.team-wrapper.team-style-1 .our-team:hover img{ transform: scale(1.2); }*/
/*.team-wrapper.team-style-1 .our-team .social{*/
/*    list-style: none;*/
/*    padding: 30px 15px;*/
/*    margin: 0;*/
/*    background: #0facf3;*/
/*    border-bottom-right-radius: 50px;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: -50%;*/
/*    transition: all 0.4s ease-in-out 0s;*/
/*}*/
/*.team-wrapper.team-style-1 .our-team:hover .social{ left: 0; }*/
/*.team-wrapper.team-style-1 .our-team .social li{ display: block; }*/
/*.team-wrapper.team-style-1 .our-team .social li a{*/
/*    display: block;*/
/*    padding: 5px 0;*/
/*    font-size: 18px;*/
/*    color: #fff;*/
/*    transition: all 0.3s ease-in-out 0s;*/
/*}*/
/*.team-wrapper.team-style-1 .our-team .social li:first-child a{ padding-top: 0; }*/
/*.team-wrapper.team-style-1 .our-team .social li:last-child a{ padding-bottom: 0; }*/
/*.team-wrapper.team-style-1 .our-team .social li a:hover{ color: #000; }*/
/*.team-wrapper.team-style-1 .our-team .team-content{*/
/*    width: 100%;*/
/*    padding: 15px 10px;*/
/*    background: rgba(0, 0, 0, 0.6);*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*}*/
/*.team-wrapper.team-style-1 .our-team .title{*/
/*    font-size: 22px;*/
/*    font-weight: bold;*/
/*    letter-spacing: 1px;*/
/*    color: #fff;*/
/*    margin: 0 0 5px 0;*/
/*}*/
/*.team-wrapper.team-style-1 .our-team .post{*/
/*    display: block;*/
/*    font-size: 14px;*/
/*    color: #0facf3;*/
/*}*/


/*
* End Team Style-1
-------------------------*/


/*
* Start Team Style-2
-------------------------*/
.team-wrapper.team-style-2 {
    position: relative;
}

.team-wrapper.team-style-2 .team-img img {
    width: 100%;
    height: auto;
}

.team-wrapper.team-style-2 .team-content {
    position: absolute;
    height: auto;
    width: 100%;
    bottom: 0;
    padding: 20px 20px 0 20px;
    color: #444;
    text-align: center;
    background: #fff;
    transition: all 0.3s  ease;
}

.team-wrapper.team-style-2 span.team-member-position {
    display: block;
    font-size: 16px;
    color: #ffffff;
    text-transform: capitalize;
    height: 0;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s ease 0s;
}
.team-wrapper.team-style-2:hover span.team-member-position {
    height: 20px;
    opacity: 1;
    transform: scale(1);
}

.team-wrapper.team-style-2:hover .team-content {
    opacity: 1;
    width: 100%;
    visibility: visible;
    transform: translate(0, 0);
    bottom: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
}
.team-wrapper.team-style-2:hover .team-info {
    opacity: 1;
    height: 20px;
    margin-bottom: 10px;
    display: block;
    transition: all 0.3s  ease;
}

.team-wrapper.team-style-2 span.team-member-name {
    display: block;
    font-size: 24px;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: 500;
}

.team-wrapper.team-style-2 .team-social{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: translateY(-60%);
    transition: all 0.5s ease 0s;
}

.team-wrapper.team-style-2:hover .team-social{
    transform: translateY(50%);
    opacity: 1;
}

.team-wrapper.team-style-2 .team-social a {
    background: #0099e6;
    color: #ffffff;
    border-radius: 25px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    transition: all 0.3s ease;
}
.team-wrapper.team-style-2 .team-social a:hover {
    background:  #2e86de;
    color: #fff;
}

/*
* End Team Style-2
-------------------------*/

/*
* Start Team Style-3
-------------------------*/
.team-wrapper.team-style-3 {
    transition: 0.3s ease;
}

.team-wrapper.team-style-3 .team-thumb {
    position: relative;
    overflow: hidden;
}
.team-wrapper.team-style-3 .team-thumb-info {
    position: absolute;
    bottom: 10%;
    background: rgba(33,37,41,.8);
    z-index: 2;
    padding: 15px 15px;
    display: block;
    color: #fff;
    font-size: 24px;
    left: 0;
}

.team-wrapper.team-style-3 span.team-member-name {
    display: block;
}

.team-wrapper.team-style-3 span.team-member-position {
    display: inline-block;
    float: left;
    margin: 0px 20px -30px 0;
    background:  #2e86de;
    padding: 5px 10px;
    text-transform: uppercase;
    z-index: 3;
    color: #fff;
    font-size: 16px;
    border-radius: 2px;
}
.team-wrapper.team-style-3 .team-thumb-container {
    overflow: hidden;
    border-radius: 3px;
}
.team-wrapper.team-style-3 .team-thumb-container img {
    border-radius: 3px;
    transition: all 0.5s ease;
    width: 100%;
}

.team-wrapper.team-style-3:hover .team-thumb-container img {
    transform: scale(1.1,1.1);
}
.team-wrapper.team-style-3 .team-info {
    margin: 10px 0;
}
.team-wrapper.team-style-3 .social a{
    background: #0099e6;
    color: #ffffff;
    border-radius: 25px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    transition: all 0.3s ease;
}
.team-wrapper.team-style-3 .social a:hover {
    background:  #2e86de;
    color: #fff;
}
.team-wrapper.team-style-3 .social {
    margin-bottom: 15px;
}

@media only screen and (max-width: 990px){
    .team-wrapper.team-style-3 .our-team{ margin-bottom: 30px; }
}
/*
* End Team Style-3
-------------------------*/

/*
* Start Team Style-6
-------------------------*/
.team-wrapper.team-style-6 .our-team{
    text-align: center;
}
.team-wrapper.team-style-6 .pic{
    position: relative;
    overflow: hidden;
}
.team-wrapper.team-style-6 .pic img{
    width: 100%;
    height: auto;
}
.team-wrapper.team-style-6 .social_media_team{
    position: absolute;
    top:100%;
    width: 100%;
    height: 100%;
    background-color:rgba(222, 79, 0, 0.8);
    transition: all 0.35s ease 0s;
}
.team-wrapper.team-style-6 .team_social{
    list-style: none;
    padding: 0;
    height: 100%;
    position: relative;
    top:40%;
}
.team-wrapper.team-style-6 .team_social > li{
    display: inline-block;
    margin: 0 5px 5px 0;
}
.team-wrapper.team-style-6 .team_social > li > a{
    width: 45px;
    height: 45px;
    line-height: 45px;
    border: 1px solid #fff;
    display: block;
    color:#fff;
    font-size: 18px;
    transition: all 1.3s ease 0s;
}
.team-wrapper.team-style-6 .team_social > li > a:hover{
    background: #fff;
    color:#de4f00;
    transition: all 1.3s ease 0s;
}
.team-wrapper.team-style-6 .team-prof{
    margin-top: 10px;
}
.team-wrapper.team-style-6 .post-title > a{
    text-transform: capitalize;
    color:#424242;
    transition: all 0.2s ease 0s;
}
.team-wrapper.team-style-6 .post-title > a:hover{
    text-decoration: none;
    color:#de4f00;
}
.team-wrapper.team-style-6 .post{
    color:#de4f00;
    font-size: 18px;
}
.team-wrapper.team-style-6 .pic:hover .social_media_team{
    top:0;
}
@media screen and (max-width: 990px){
    .team-wrapper.team-style-6 .our-team{
        margin-bottom: 30px;
    }
}

/*
* End Team Style-6
-------------------------*/


/*
* Start Team Style-7
-------------------------*/
.team-wrapper.team-style-7 .our-team{
    overflow: hidden;
}
.team-wrapper.team-style-7 .our-team .pic{
    transform:scale(1,1);
    transition:transform 0.30s ease;
    position: relative;
}
.team-wrapper.team-style-7 .our-team:hover .pic{
    transform:scale(1.1,1.1);
}
.team-wrapper.team-style-7 .our-team .pic:before{
    content: "";
    width:100%;
    height:100%;
    position: absolute;
    transition:background 0.50s ease-in-out ;
}
.team-wrapper.team-style-7 .our-team:hover .pic:before{
    background:rgba(255, 255, 255,0.5);
}
.team-wrapper.team-style-7 .our-team .pic img{
    width: 100%;
    height: auto;
}
.team-wrapper.team-style-7 .our-team .team-content{
    border-top: 1px solid #e5e5e5;
    position: relative;
    bottom: 0;
    background:#fff;
    text-align:center;
    padding: 32px 25px 5px;
    transition: all 0.3s ease 0s;
}
.team-wrapper.team-style-7 .our-team:hover .team-content{
    bottom:15%;
}
.team-wrapper.team-style-7 .our-team .post-title{
    margin:0;
    color:#000;
    font-size:13px;
    letter-spacing:2px;
    text-transform:uppercase;
}
.team-wrapper.team-style-7 .our-team .post-title:after{
    content: "";
    width: 15%;
    display: block;
    margin: 7% auto 10%;
    border-bottom: 2px solid #da3e65;
}
.team-wrapper.team-style-7 .our-team .post-title small{
    display: block;
    font-size:11px;
    margin-top:3%;
    letter-spacing:1px;
    text-transform:uppercase;
}
.team-wrapper.team-style-7 .our-team .social-link{
    padding:0;
    margin:0 0 4% 0;
}
.team-wrapper.team-style-7 .our-team .social-link li{
    list-style:none;
    display:inline-block;
    margin-right:15px;
}
.team-wrapper.team-style-7 .our-team .social-link li a{
    font-size:19px;
    color:#333;
}
.team-wrapper.team-style-7 .our-team .social-link li a.fa-facebook:hover{
    color:#5d82d1;
}
.team-wrapper.team-style-7 .our-team .social-link li a.fa-google:hover{
    color:#eb5e4c;
}
.team-wrapper.team-style-7 .our-team .social-link li a.fa-twitter:hover{
    color:#40bff5;
}
.team-wrapper.team-style-7 .our-team .description{
    line-height: 23px;
    padding: 0 20px;
    position: absolute;
    transition: opacity 0.3s ease 0s;
}
/*
* End Team Style-7
-------------------------*/

/*
* Start Team Style-8
-------------------------*/
.team-wrapper.team-style-8 .our-team{
    text-align: center;
}
.team-wrapper.team-style-8  .our-team .pic{
    position: relative;
    overflow: hidden;
}
.team-wrapper.team-style-8 .our-team .pic img{
    width: 100%;
    height: auto;
    transition: all 0.2s ease 0s;
}
.team-wrapper.team-style-8 .our-team:hover .pic img{
    transform: translateY(-15px);
}
.team-wrapper.team-style-8 .our-team .social_media_team{
    position: absolute;
    bottom: -20%;
    width: 100%;
    background-color:#ea6153;
    transition: all 0.35s ease 0s;
}
.team-wrapper.team-style-8 .our-team:hover .social_media_team{
    bottom: 0px;
}
.team-wrapper.team-style-8 .our-team .team_social{
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
}
.team-wrapper.team-style-8 .our-team .team_social li{
    display: inline-block;
    margin-right: 5px;
}
.team-wrapper.team-style-8 .our-team .team_social li a{
    width: 45px;
    height: 45px;
    line-height: 45px;
    display: block;
    color:#fff;
    font-size: 18px;
    transition: all 1.3s ease 0s;
}
.team-wrapper.team-style-8 .our-team .team_social li a:hover{
    background: #fff;
    color:#424242;
}
.team-wrapper.team-style-8 .our-team .team-prof{
    margin-top: 10px;
}
.team-wrapper.team-style-8 .our-team .post-title a{
    text-transform: capitalize;
    color:#424242;
    transition: all 0.2s ease 0s;
}
.team-wrapper.team-style-8 .our-team .post-title a:hover{
    text-decoration: none;
    color:#ea6153;
}
.team-wrapper.team-style-8 .our-team .post{
    color:#ea6153;
    font-size: 18px;
    text-transform: capitalize;
}
@media screen and (max-width: 990px){
    .team-wrapper.team-style-8 .our-team{
        margin-bottom: 30px;
    }
}
/*
* Start Team Style-8
-------------------------*/

/*
* Start Team Style-9
-------------------------*/

.team-wrapper.team-style-9 .our-team{
    text-align: center;
}
.team-wrapper.team-style-9 .our-team .team_img{
    position: relative;
    overflow: hidden;
}
.team-wrapper.team-style-9 .our-team .team_img:after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: all 0.3s ease 0s;
}
.team-wrapper.team-style-9 .our-team:hover .team_img:after{
    bottom: 0;
}
.team-wrapper.team-style-9 .our-team img{
    width: 100%;
    height: auto;
}
.team-wrapper.team-style-9 .our-team .social{
    padding: 0 0 18px 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: -100%;
    right: 10px;
    background: #f76c5e;
    border-radius: 0 0 20px 20px;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.team-wrapper.team-style-9 .our-team:hover .social{
    top: 0;
}
.team-wrapper.team-style-9 .our-team .social li a{
    display: block;
    padding: 15px;
    font-size: 15px;
    color: #fff;
}
.team-wrapper.team-style-9 .our-team:hover .social li a:hover{
    color: #2a4284;
}
.team-wrapper.team-style-9 .our-team .team-content{
    padding: 20px 0;
    background: #fff;
}
.team-wrapper.team-style-9 .our-team .title{
    font-size: 18px;
    font-weight: bold;
    color: #2a4284;
    text-transform: capitalize;
    margin: 0 0 20px;
    position: relative;
}
.team-wrapper.team-style-9 .our-team .title:before{
    content: "";
    width: 25px;
    height: 1px;
    background: #27ae61;
    position: absolute;
    bottom: -10px;
    right: 50%;
    margin-right: 9px;
    transition-duration: 0.25s;
}
.team-wrapper.team-style-9 .our-team .title:after{
    content: "";
    width: 25px;
    height: 1px;
    background: #27ae61;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: 9px;
    transition-duration: 0.25s;
}
.team-wrapper.team-style-9 .our-team:hover .title:before,
.team-wrapper.team-style-9 .our-team:hover .title:after{
    width: 50px;
}
.team-wrapper.team-style-9 .our-team .post{
    display: inline-block;
    font-size: 15px;
    color:  #f76c5e;
    text-transform: capitalize;
}
.team-wrapper.team-style-9 .our-team .post:before{
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #27ae61;
    margin: 0 auto;
    position: relative;
    top: -13px;
}
@media only screen and (max-width: 990px){
    .team-wrapper.team-style-9 .our-team{ margin-bottom: 30px; }
}

/*
* End Team Style-9
-------------------------*/


/*
* Start Team Style-10
-------------------------*/
.team-wrapper.team-style-10 .our-team{
    position: relative;
    overflow: hidden;
}
.team-wrapper.team-style-10 .our-team  img{
    width:100%;
    height: auto;
    z-index:1;
    transform:translateY(0px);
    transition: all 0.50s ease;
}
.team-wrapper.team-style-10 .our-team:hover img{
    transform:translateY(-40px);
}
.team-wrapper.team-style-10 .our-team .team-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    opacity:0;
    color: #2b2f3e;
    padding: 20px 0;
    text-align: center;
    background:#fff;
    transform:translateY(0px);
    transition: all 0.50s ease-in-out 0s;
}
.team-wrapper.team-style-10 .our-team:hover .team-content{
    transform: translateY(10px);
    opacity:1;
}
.team-wrapper.team-style-10 .our-team .team-title{
    font-size:19px;
    color:#444;
    margin:0;
    letter-spacing:1px;
}
.team-wrapper.team-style-10 .our-team .team-title small{
    display: block;
    color:#444;
    margin:1% 0 3% 0;
    font-size:12px;
    text-transform: capitalize;
}
.team-wrapper.team-style-10 .our-team .social-link{
    padding:0;
    margin:0;
    list-style:none;
}
.team-wrapper.team-style-10 .our-team .social-link li{
    display: inline-block;
    margin-right:2%;
}
.team-wrapper.team-style-10 .our-team .social-link li a{
    color:#444;
    transition: all 0.50s ease;
}
.team-wrapper.team-style-10 .our-team .social-link li a:hover{
    color: #e143eb;
}
@media screen and (max-width: 767px){
    .team-wrapper.team-style-10 .our-team{
        margin-bottom: 15%;
    }
}

/*
* End Team Style-10
-------------------------*/
